<div class="mb-3">
    <label for="password" class="form-label">{{ form.fields.password.label }}</label>
    <div class="input-group">
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               autocomplete="current-password"
               required>
        <span class="input-group-text d-flex align-items-center justify-content-center"
              id="password-eye">
                <i class="d-flex bi bi-eye-slash"></i>
        </span>
    </div>
    {% for error_message in form.errors.password.data %}
        <small class="error" id="passwordError">{{ error_message.message }}</small>
    {% endfor %}
</div>

<!-- Password eye toggler -->
<script type="text/javascript">
  var passwordEyeElement = document.getElementById('password-eye')
  var passwordInput = document.getElementById('password')

  var passwordHiddenIcon = '<i class="d-flex bi bi-eye-slash"></i>'
  var passwordVisibleIcon = '<i class="d-flex bi bi-eye"></i>'

  passwordEyeElement.addEventListener("click", (event) => {
    if (passwordInput.type === "text") {
      passwordInput.type = "password"
      passwordEyeElement.innerHTML = passwordHiddenIcon
    } else {
      passwordInput.type = "text"
      passwordEyeElement.innerHTML = passwordVisibleIcon
    }
  })

</script>