.coverage
apps/config/.env
yamsa.egg-info
yamsa_db_test

/.cache/
/.github-issues/
/.github-pull-requests/
/.idea/
/.issues/
/.local/
/.venv/
/media/
/static/
/staticfiles/
/tmp/

apps/staticfiles
staticfiles

# Translations
*.mo
*.pot
