.idea

apps/config/.env
/yamsa_db_test

/.cache/
/.github-issues/
/.github-pull-requests/
/.issues/
/.local/
/.venv/
/apps/locale/de/LC_MESSAGES/django.mo
/media/
/static/
/staticfiles/
/tmp/
/yamsa.egg-info/

apps/staticfiles
staticfiles
