.coverage
apps/config/.env
yamsa.egg-info
yamsa_db_test

/.cache/
/.github-issues/
/.github-pull-requests/
/.idea/
/.issues/
/.local/
/.venv/
/apps/locale/de/LC_MESSAGES/django.mo
/media/
/node_modules/
/tmp/
/yamsa.egg-info/

apps/static/bundles/
/static/

apps/staticfiles
staticfiles

# Translations
*.mo
*.pot
