version: "3.9"

services:
  database:
    image: postgres:16-alpine
    container_name: yamsa_database
    environment:
      POSTGRES_DB: yamsa_db
      POSTGRES_USER: yamsa-postgres-user
      POSTGRES_PASSWORD: yamsa-password
    volumes:
      - yamsa_postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    restart: "always"

  backend:
    depends_on:
      - database
      - mailhog
    build:
      context: .
      args:
        ADDITIONAL_PIPENV_INSTALL_ARGS: "--dev"
    container_name: yamsa_backend
    command: bash ./scripts/run_backend_local.sh
    volumes:
      - .:/src
      - ./apps/static/webpack_bundles:/src/apps/static/webpack_bundles
      - /src/node_modules
      - ./apps/static:/src/apps/static
    ports:
      - "8000:8000"
    restart: "no"

  mailhog:
    image: mailhog/mailhog:v1.0.1
    container_name: yamsa_mailhog
    ports:
      - "8025:8025"  # email inbox interface
      - "1025:1025"  # smtp

volumes:
  yamsa_postgres_data:
