[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ambient-toolbox = "==10.*"                                  # https://ambient-toolbox.readthedocs.io/en/latest/features/changelog.html
django = "==5.*"                                            # https://docs.djangoproject.com/en/5.0/releases/
django-browser-reload = "==1.*"                             # https://github.com/adamchainz/django-browser-reload/blob/main/CHANGELOG.rst
django-cloudinary-storage = "==0.*"                         # https://github.com/klis87/django-cloudinary-storage/releases
django-context-decorator = "==1.*"                          # https://github.com/rixx/django-context-decorator/tags
django-environ = "==0.*"                                    # https://django-environ.readthedocs.io/en/latest/changelog.html
django-extensions = "==3.*"                                 # https://github.com/django-extensions/django-extensions/blob/main/CHANGELOG.md
django-pony-express = "==2.*"                               # https://django-pony-express.readthedocs.io/en/latest/features/changelog.html
freezegun = "==1.*"                                         # https://github.com/spulec/freezegun/blob/master/CHANGELOG
gunicorn = "==22.*"                                         # https://docs.gunicorn.org/en/stable/news.html
kolo = "==2.*"                                              # https://docs.kolo.app/en/latest/python-changelog.html
model-bakery = "==1.*"                                      # https://github.com/model-bakers/model_bakery/releases
pillow = "==10.*"                                           # https://github.com/python-pillow/Pillow/blob/main/CHANGES.rst
psycopg2-binary = "==2.*"                                   # https://github.com/psycopg/psycopg2/tags
pywebpush = "==2.*"                                         # https://github.com/web-push-libs/pywebpush/releases
sentry-sdk = {extras = ["django"], version = "==1.40.*"}
whitenoise = "==6.6.*"

[dev-packages]
coverage = "*"
django-upgrade = "*"
djlint = "*"
ruff = "*"

[requires]
python_version = "3.11.9"  # Fixed version from onrender.com (If you change this, also change it in the Dockerfile!)
