{% with manifest.icons|first as first_icon %}
    <!-- favicon -->
    <link rel="icon" sizes="{{ first_icon.sizes }}" href="{{ first_icon.src }}">

    <!-- Path to manifest.json -->
    <link rel="manifest" href="{% url 'core-manifest' %}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ manifest.name }}">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="{{ manifest.theme_color }}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ manifest.name }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% for icon in manifest.icons %}
        <link rel="apple-touch-icon" href="{{ icon.src }}" sizes="{{ icon.sizes }}">
    {% endfor %}

    {% for splash in manifest.splash_screens %}
        <link href="{{ splash.src }}" media="{{ splash.media }}" rel="apple-touch-startup-image"/>
    {% endfor %}

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="{{ manifest.background_color }}">
    <meta name="msapplication-TileImage" content="{{ first_icon.src }}">
{% endwith %}