[data-bs-theme=light] {
    --bs-body-bg: white;
    --bs-body-color: black;
    --bs-primary-text-emphasis: #0d6efd;

    --offcanvas-and-nav-bg: #434343;
    --offcanvas-and-nav-color: white;
    --offcanvas-and-nav-text-muted: #b3b3b3;
    --nav-active-color: white;
    --list-group-border-color: black;
}

[data-bs-theme=dark] {
    --bs-body-bg: #2d2a2e;
    --bs-body-color: white;
    --bs-primary-text-emphasis: #6ea8fe;

    --offcanvas-and-nav-bg: #1e1b1e;
    --list-group-border-color: white;
}

body {
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

.list-group {
    --bs-list-group-border-color: var(--list-group-border-color);
}

.offcanvas {
    --bs-offcanvas-bg: var(--offcanvas-and-nav-bg);
    --bs-offcanvas-color: var(--offcanvas-and-nav-color);
}

.navbar {
    --bs-navbar-active-color: var(--nav-active-color);
    background-color: var(--offcanvas-and-nav-bg);
    color: var(--offcanvas-and-nav-color);

    .text-muted {
        color: var(--offcanvas-and-nav-text-muted) !important;
    }
}

.error {
    color: red;
}

.me-involved {
    font-weight: bold;
    color: var(--bs-primary-text-emphasis);
}

.p-e-color {
    color: var(--bs-primary-text-emphasis);
}

.debt-list-debt-settled {
    color: var(--bs-primary-text-emphasis);
    opacity: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.room-circle {
    width: 3em;
    height: 3em;
    border: 2px solid white;
    border-radius: 50%;

    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-circle.closed {
    border-color: darkred;
}

.room-circle.selected:not(.closed) {
    border-color: var(--bs-primary-text-emphasis);
}

.htmx-indicator {
    opacity: 0;
    z-index: -1;
    transition: none !important;
}

.htmx-request .htmx-indicator {
    opacity: 1;
    z-index: 2000;
    transition: all 200ms ease-in !important;
}

.htmx-request.htmx-indicator {
    opacity: 1;
    z-index: 2000;
    transition: all 200ms ease-in !important;;
}

