[data-bs-theme=light] {
    --bs-body-bg: #f6f8fb;
    --bs-body-color: #1f232a;
    --bs-heading-color: #141820;
    --bs-primary: #6ea8fe;
    --bs-primary-rgb: 110, 168, 254;
    --bs-primary-text-emphasis: #2f5e97;
    --bs-link-color: #3d79db;
    --bs-border-color: #d6dce8;

    --offcanvas-and-nav-bg: #eff4fb;
    --offcanvas-and-nav-color: #1f232a;
    --offcanvas-and-nav-text-muted: #7c879b;
    --nav-active-color: #3d79db;
    --list-group-border-color: #c9d2e3;

    --yamsa-room-circle-color: #4d5669;

    .navbar-nav {
        .p-e-color {
            color: var(--offcanvas-and-nav-color);
        }

        .p-e-color:hover {
            color: var(--nav-active-color);
        }
    }

    .btn-primary {
        --bs-btn-bg: #6ea8fe;
        --bs-btn-border-color: #6ea8fe;
        --bs-btn-hover-bg: #5797fb;
        --bs-btn-hover-border-color: #5797fb;
        --bs-btn-color: #0b1b33;
    }
}

[data-bs-theme=dark] {
    --bs-body-bg: #2d2a2e;
    --bs-body-color: #f4f6fb;
    --bs-heading-color: #fdfdff;
    --bs-primary: #6ea8fe;
    --bs-primary-rgb: 110, 168, 254;
    --bs-primary-text-emphasis: #9ec0ff;
    --bs-link-color: #9ec0ff;
    --bs-border-color: #4c4a4f;

    --offcanvas-and-nav-bg: #201e21;
    --offcanvas-and-nav-color: #f4f6fb;
    --offcanvas-and-nav-text-muted: #a7a3b1;
    --nav-active-color: #6ea8fe;
    --list-group-border-color: #4c4a4f;

    --yamsa-room-circle-color: #f4f6fb;

    .btn-primary {
        --bs-btn-bg: #6ea8fe;
        --bs-btn-border-color: #6ea8fe;
        --bs-btn-hover-bg: #8ebcfe;
        --bs-btn-hover-border-color: #8ebcfe;
        --bs-btn-color: #0b1b33;
    }
}

:root {
    --bs-nav-link-font-size: 1.3rem;

    .navbar {
        --bs-navbar-toggler-font-size: 1.7rem;

        .btn-sm {
            --bs-btn-font-size: 1.1rem;
        }
    }
}

/* Breakpoint px values:
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
 */

html {
    scroll-behavior: smooth;
}

body {
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

.list-group {
    --bs-list-group-border-color: var(--list-group-border-color);
}

.offcanvas {
    --bs-offcanvas-bg: var(--offcanvas-and-nav-bg);
    --bs-offcanvas-color: var(--offcanvas-and-nav-color);

    --bs-offcanvas-width: 75%;
}

@media (min-width: 768px) {
    .offcanvas {
        --bs-offcanvas-width: 30%;
    }

    .container-fluid {
        width: 50%;
    }
}

.navbar {
    --bs-navbar-active-color: var(--nav-active-color);
    background-color: var(--offcanvas-and-nav-bg);
    color: var(--offcanvas-and-nav-color);

    .text-muted {
        color: var(--offcanvas-and-nav-text-muted) !important;
    }
}

.error {
    color: red;
}
