.me-involved {
    font-weight: bold;
    color: var(--bs-primary-text-emphasis);
}

.htmx-a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}

.p-e-color {
    color: var(--bs-body-color);
}

.debt-list-debt-settled {
    color: var(--bs-primary-text-emphasis);
    opacity: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.room-circle {
    width: 3em;
    height: 3em;
    border: 2px solid var(--yamsa-room-circle-color);
    border-radius: 50%;

    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-circle.closed {
    border-color: darkred;
}

.room-circle.selected:not(.closed) {
    border-color: var(--bs-primary-text-emphasis);
}

.account-avatar-circle {
    width: 4.5rem;
    height: 4.5rem;
}

.debug-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.2em;
    background-color: rgba(139, 0, 0, 0.8);
    color: #fff;
    z-index: 4000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
