{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h1 class="ps-3 mb-4">Forgot Password</h1>

    <div class="row gx-0">
        <div class="col-1 col-md-5 p-0"></div>

        <div class="col-10 col-md-2 p-0 d-flex">
            <form hx-post="{% url "account-user-forgot-password" %}"
                  hx-target="#body"
                  hx-indicator="#body-loading-spinner"
                  hx-swap="morph:innerHTML"
                  hx-push-url="true"
                  class="flex-grow-1">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.fields.email.label }}</label>
                    <input type="email" class="form-control" id="email" name="email" autocomplete="email"
                           required>
                    <div id="emailHelp" class="form-text">{{ form.fields.email.help_text }}</div>
                    {% for error_message in form.errors.email.data %}
                        <small class="error" id="emailError">{{ error_message.message }}</small>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Request a new password</button>
                </div>

            </form>
        </div>

        <div class="col-1 col-md-5 p-0"></div>
    </div>

{% endblock %}
