{% extends "room/dashboard.html" %}
{% load static i18n %}
{% load room_tags %}
{% block tab_content %}
    <div class="flex w-full justify-between items-center py-1 mt-6">
        <div class="flex-1">
            <h5 class="m-0">
                {% blocktrans with invitee=user.name room=current_room.name %}
                    Invite {{ invitee }} to "{{ room }}"
                {% endblocktrans %}
            </h5>
        </div>
    </div>
    <form hx-post="{% room_url 'account:guest-send-invitation-email' pk=user.id %}"
          hx-target="#body"
          hx-indicator="#body-loading-spinner"
          hx-swap="morph:innerHTML"
          hx-push-url="true">
        {% csrf_token %}
        <ul class="flex flex-col">
            <li class="px-4 py-3 border-b border-gray-200 dark:border-dark-border"></li>
            <li class="px-4 py-3 border-b border-gray-200 dark:border-dark-border py-6 px-2">
                <div class="mb-4 form-group">
                    <label for="email">{{ form.fields.email.label }}</label>
                    <input id="email" name="email" type="email" class="ym-input" required />
                    {% for error_message in form.errors.email.data %}
                        <small class="error" id="emailError">{{ error_message.message }}</small>
                    {% endfor %}
                </div>
            </li>
            <li class="px-4 py-3 border-b border-gray-200 dark:border-dark-border"></li>
        </ul>
        <div class="flex justify-end mr-2">
            <button type="submit"
                    class="inline-flex items-center justify-center px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 active:scale-95 transition-all w-1/2">
                {% trans "Send invite" %}
            </button>
        </div>
    </form>
{% endblock tab_content %}
