{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h1 class="ps-3 mb-4">Login</h1>

    <div class="row gx-0">
        <div class="col-2 col-md-5 p-0"></div>

        <div class="col-8 col-md-2 p-0 d-flex">
            <form hx-post="{% url "account-user-login" %}"
                  hx-target="#body"
                  hx-indicator="#body-loading-spinner"
                  hx-swap="morph:innerHTML"
                  hx-push-url="true"
                  class="flex-grow-1">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">{{ form.fields.username.label }}</label>
                    <input type="text" class="form-control" id="username" name="username" autocomplete="username"
                           required>
                    {% for error_message in form.errors.username.data %}
                        <small class="error" id="usernameError">{{ error_message.message }}</small>
                    {% endfor %}
                </div>

                {% include "account/shared_partials/password_input_component.html" %}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <div class="mt-5">
                    <small class="error">{{ errors.auth_failed }}</small>
                </div>
            </form>
        </div>

        <div class="col-2 col-md-5 p-0"></div>
    </div>

    <small class="fixed-bottom z-0 ps-3 pb-3">
        Don't have an account yet? <a href="{% url 'account-user-register' %}">Register here!</a>
    </small>

{% endblock %}
