<!-- Add Transaction Modal -->
<div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="addTransactionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTransactionModalLabel">Add payment for {{ current_room.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form hx-post="{% url 'transaction-add' %}" hx-swap="none" hx-indicator="#transaction-loading-spinner">
                {% csrf_token %}

                <div class="modal-body">

                    <div class="mb-3 form-group">
                        <label for="paidBySelect">Who paid?</label>
                        <select name="paid_by"
                                class="form-control form-select"
                                id="paidBySelect"
                                required
                        >
                            <option value="{{ request.user.id }}">{{ request.user.name }}</option>
                            {% for room_user in current_room.users %}
                                {% if room_user.id != request.user.id %}
                                    <option value="{{ room_user.id }}">{{ room_user.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label for="value" class="form-label">Amount paid</label>
                        <div class="input-group">
                            <input id="value"
                                   name="value"
                                   type="number"
                                   class="form-control"
                                   min="0"
                                   step="0.01"
                                   max="99999999"
                                   required
                            />
                            <div class="col-3">
                                <label class="visually-hidden" for="currencySelect">Currency</label>
                                <select name="currency"
                                        class="form-control form-select"
                                        id="currencySelect"
                                        required
                                >
                                    <option value="{{ current_room.preferred_currency.id }}">{{ current_room.preferred_currency.sign }}</option>
                                    {% for currency in all_currencies %}
                                        {% if currency != current_room.preferred_currency %}
                                            <option value="{{ currency.id }}">{{ currency.sign }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-group">
                        <label for="paidForSelect">Paid for</label>
                        <select name="paid_for"
                                multiple
                                class="form-control form-select"
                                id="paidForSelect"
                                required
                        >
                            {% for room_user in current_room.users %}
                                <option value="{{ room_user.id }}">{{ room_user.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
                    </div>

                    <div class="form-group" hidden>
                        <label for="room_slug" class="form-label">Room Slug</label>
                        <input id="room_slug"
                               name="room_slug"
                               type="text"
                               class="form-control"
                               required
                               value="{{ current_room.slug }}"
                        />
                    </div>

                    <div class="form-group" hidden>
                        <label for="room" class="form-label">Room</label>
                        <input id="room"
                               name="room"
                               type="number"
                               class="form-control"
                               required
                               value="{{ current_room.id }}"
                        />
                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                        Add payment
                    </button>

                </div>
            </form>

        </div>
    </div>
</div>