{% load room_tags %}

<nav class="navbar fixed-bottom z-0 pb-4">

    <div class="container-fluid">
        <div class="navbar-nav w-100 d-flex flex-row justify-content-around">
            {% for tab in dashboard_tabs %}
                <a class="nav-link cursor-pointer {% if active_tab == tab.name %}active{% else %}p-e-color{% endif %}"
                   id="{{ tab.name }}-tab"
                   role="tab"
                   aria-controls="{{ tab.name }}"
                   aria-selected="{% if active_tab == tab.name %}true{% else %}false{% endif %}"
                   {% if active_tab == tab.name %}aria-current="page"{% endif %}
                   hx-trigger="click"
                   hx-get="{{ tab.get_url }}"
                   hx-indicator="#body-loading-spinner"
                   hx-target="#body"
                   hx-swap="morph:innerHTML"
                   hx-push-url="true"
                >
                    <i class="{{ tab.icon_class }}"></i>
                </a>
            {% endfor %}
        </div>
    </div>

</nav>
