<hr>

<form action="/account/guest_user/authenticate/" method="post">
    {% csrf_token %}

    <div class="mb-3 form-group">
        <h5>
            <label for="userSelect">Who are you?</label>
        </h5>

        <div class="mb-2">
            <small style="cursor:pointer;"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-title="Only Guest Users of the room are shown here. If you do not see your name, that means that you either are not part of this room or that you already have an account. If you already have an account try logging in.">
                Not seeing your name?
            </small>
        </div>

        <select id="user_id"
                name="user_id"
                class="form-control form-select mb-3"
                id="userSelect"
                required
        >
            {% for room_user in room_users %}
                {% if room_user.is_guest %}
                    <option value="{{ room_user.id }}">
                        {{ room_user.name }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group" hidden>
        <label for="room_slug" class="form-label">Room</label>
        <input id="room_slug"
               name="room_slug"
               type="text"
               class="form-control"
               required
               value="{{ room.slug }}"
        />
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">That's me!</button>
    </div>
</form>