{% load static %}
{% load room_tags %}

<div class="room-detail-tab-header">
    <h5>Debts</h5>
    {% if debts %}
        <small>
            If you have paid off your debt to someone, click on the white piggy-bank-icon
            (<i class="bi bi-piggy-bank"></i>) next to the debt.
        </small>
    {% else %}
        <div class="container text-center p-4">
            - No debts yet -
        </div>
    {% endif %}
</div>

<ul class="list-group mb-5">
    {% for debt in debts %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-9">
                    {% if debt.settled %}<span style="text-decoration: line-through;">{% endif %}
                    {% autoescape off %}{% parse_user_text debt.debitor.username True %}{% endautoescape %}
                    {% if request.user.username == debt.debitor.username %}owe{% else %}owes{% endif %}
                    {{ debt.value }}{{ debt.currency.sign }} to
                    {% autoescape off %}{% parse_user_text debt.creditor.username %}{% endautoescape %}
                    {% if debt.settled %}</span>{% endif %}
                </div>

                <div class="col-3">
                    <div class="float-end">
                        {% include "room/partials/_settle_payment_piggy_icon.html" with debt=debt %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<br/>