{% load static %}
{% load room_tags %}

<div class="room-detail-tab-header">
    <h5>Debts</h5>
    {% if debts %}
        <small>
            If you have paid off your debt to someone, click on the white piggy-bank-icon
            (<i class="bi bi-piggy-bank"></i>) next to the debt.
        </small>
    {% else %}
        <div class="container text-center p-4">
            - No debts yet -
        </div>
    {% endif %}
</div>

<ul class="list-group mb-5">
    {% for debt in new_debts %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-9">
                    {% if debt.settled %}<span style="text-decoration: line-through;">{% endif %}
                    {% autoescape off %}{% parse_user_text debt.debitor.username True %}{% endautoescape %}
                    {% if request.user.username == debt.debitor.username %}owe{% else %}owes{% endif %}
                    {{ debt.value }}{{ debt.currency.sign }} to
                    {% autoescape off %}{% parse_user_text debt.creditor.username %}{% endautoescape %}
                    {% if debt.settled %}</span>{% endif %}
                </div>

                <div class="col-3">
                    <div class="float-end">
                        {% include "room/partials/_settle_payment_piggy_icon.html" with debt=debt %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

<br/>

{#{% if debt_list %}#}
{#    <h5>Reworked Debts</h5>#}
{#    <ul class="list-group mb-5">#}
{#        {% for debitor, debitor_dict in debt_list.items %}#}
{#            {% for creditor, creditor_dict in debitor_dict.items %}#}
{#                <li class="list-group-item">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col-9">#}
{#                            {% autoescape off %}{% parse_user_text debitor True %}{% endautoescape %}#}
{#                            {% if request.user.username == debt.debitor.username %}owe{% else %}owes{% endif %}#}
{#                            {% for currency, amount_owed in creditor_dict.items %}#}
{#                                {{ amount_owed }}{{ currency }}{% if not forloop.last %}, and{% endif %}#}
{#                            {% endfor %}#}
{#                            to {% autoescape off %}{% parse_user_text creditor %}{% endautoescape %}#}
{#                        </div>#}
{##}
{#                        <div class="col-3">#}
{#                            <div class="float-end">#}
{#                                <i class="bi bi-piggy-bank" style="opacity: 25%; cursor:pointer;"#}
{#                                   data-bs-toggle="tooltip"#}
{#                                   data-bs-placement="top"#}
{#                                   data-bs-title="This transaction is not yours to settle!"></i>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        {% include "room/partials/_settle_payment_modal.html" with creditor=creditor debt_ids=amount_owed_debt_ids_and_settled.debt_ids debt_ids_as_string=amount_owed_debt_ids_and_settled.debt_ids_as_string amount_owed=amount_owed_debt_ids_and_settled.amount_owed creditor_paypal_me_link=amount_owed_debt_ids_and_settled.paypal_me_link %}#}
{#                    </div>#}
{#                </li>#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    </ul>#}
{##}
{#    <br/>#}
{#{% endif %}#}
