{% include "room/partials/_add_transaction_modal.html" %}

<div class="row align-items-center mt-3">
    <div class="col-7">
        <h5>Payments made</h5>
    </div>
    <div class="col-5 d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm me-2 mb-2" data-bs-toggle="modal"
                data-bs-target="#addTransactionModal">
            Add payment
        </button>
    </div>
</div>

{% if room_transactions %}
    <ul class="list-group list-group-flush mb-3">
        {% for transaction in room_transactions %}
            {% if transaction.paid_for_name != transaction.paid_by_name %}
                <li class="list-group-item pb-4 pt-4">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ transaction.value }}€</h5>
                        <small>{{ transaction.created_at|date:'d.m.Y' }}</small>
                    </div>
                    <p class="mb-1">
                        {% if transaction.paid_by_name == request.user.name %}
                            <span class="me-involved">You</span>
                        {% else %}
                            {{ transaction.paid_by_name }}
                        {% endif %}
                        paid
                        <strong>{{ transaction.value }}€</strong>
                        for
                        {% if transaction.paid_for_name == request.user.name %}
                            <span class="me-involved">you</span>
                        {% else %}
                            {{ transaction.paid_for_name }}
                        {% endif %}
                    </p>
                    <small style="font-style: italic">"{{ transaction.description }}"</small>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br/>
{% else %}
    <div class="container text-center p-4">
        - No Payments have been made as of now -
    </div>
{% endif %}