{% load static %}

<!-- Modal -->
<div class="modal fade" id="settleDebtModal{{ debt_ids_as_string }}" tabindex="-1"
     aria-labelledby="addTransactionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTransactionModalLabel">Your debt to {{ creditor }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/debt/settle/" method="post">
                {% csrf_token %}

                <div class="modal-body">

                    Are you sure that you have settled your debt to {{ creditor }}?

                    <div class="form-group" hidden>
                        <label for="DebtSelect">Debt IDs</label>
                        <select id="debt_ids"
                                name="debt_ids"
                                multiple
                                class="form-control"
                                id="DebtSelect"
                                required
                        >
                            {% for debt_id in debt_ids %}
                                <option selected value="{{ debt_id }}">{{ debt_id }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group" hidden>
                        <label for="settled" class="form-label">Settled?</label>
                        <input id="settled"
                               name="settled"
                               type="checkbox"
                               checked
                               class="form-control"
                               required
                        />
                    </div>

                    <div class="form-group" hidden>
                        <label for="room_slug" class="form-label">Room Slug</label>
                        <input id="room_slug"
                               name="room_slug"
                               type="text"
                               class="form-control"
                               required
                               value="{{ room.slug }}"
                        />
                    </div>

                </div>

                <div class="modal-footer">
                    {% if creditor_paypal_me_link %}
                        <a href="{{ creditor_paypal_me_link }}/{{ amount_owed }}" target="_blank">
                            <button type="button" class="btn btn-secondary">No, take me to their paypal</button>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>