<div class="col">
    <div class="card" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-3" style="font-size: 4em">
                <i class="bi bi-file-person card-img-top"></i>
            </div>
            <div class="col-9">
                <div class="card-body">
                    <p class="card-text">{{ user.name }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            {% if user.is_guest %}
                                Is a guest
                            {% else %}
                                Is a registered user
                            {% endif %}
                        </small>
                    </p>
                    <p class="card-text">
                        <small>
                            {% if user.user_has_seen_this_room %}
                                <i class="bi bi-check-circle"></i> Has seen this room!
                            {% else %}
                                <i class="bi bi-x-circle"></i> Has <strong>not</strong> seen this room
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
