{% load get_attribute %}

{% for feed_item in feeditem_list %}
    <li id="news-{{ news.id }}"
        class="list-group-item py-3">
        <div class="row">
            <div class="col-1 d-flex align-items-center">
                <i class="bi bi-plus-circle-dotted"></i>
            </div>
            <div class="col-11">
                <div class="row d-flex w-100 justify-content-between">
                    <div class="col">
                        <h5 class="mb-1">
                            {{ feed_item.text }}
                        </h5>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <small class="fst-italic">
                            {{ feed_item.created_at|date:'G:i // d.m.Y' }}
                        </small>
                    </div>
                </div>
                <p class="my-2 fs-6 text-muted">
                    {{ feed_item.room.name }}
                </p>
            </div>
        </div>
    </li>

{% endfor %}
{% if page_obj.has_next %}
    <li hx-get="{{ view_url }}?page={{ page_obj.next_page_number }}"
        hx-indicator="#body-loading-spinner"
        hx-trigger="revealed"
        hx-swap="outerHTML">
    </li>
{% endif %}
