{% extends "core/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="account-detail-container">
        {% if request.user.is_anonymous or user.is_guest %}

            <p>You are a guest, thank you for using yamsa!</p>

            <p>Maybe consider registering? :)</p>

            {# TODO CT: Delete this button #}
            <button type="button"
                    class="btn btn-primary"
                    hx-trigger="click"
                    hx-get="{% url 'account-logout' %}"
                    hx-target="#body"
                    hx-swap="morph:innerHTML"
                    hx-push-url="true"
            >
                <small>Log me out though</small>
            </button>

        {% else %}

            <p>{{ user.email }}</p>
            <p>{{ user.username }}</p>

            <button type="button"
                    class="btn btn-primary"
                    hx-trigger="click"
                    hx-get="{% url 'account-logout' %}"
                    hx-target="#body"
                    hx-swap="morph:innerHTML"
                    hx-push-url="true"
            >
                Log me out
            </button>

        {% endif %}
    </div>
{% endblock %}
