{% load room_tags %}

<div id="add-transaction-modal-container"
     hx-trigger="load"
     hx-get="{% room_url 'htmx-get-transaction-add-modal' %}"
     hx-target="#add-transaction-modal-container"
     hx-swap="innerHTML"
>
</div>

<div class="row align-items-center mt-3">
    <div class="col-7">
        <h5>Transactions made</h5>
        <small>
            Click on a transaction to see it in full detail.
        </small>
    </div>
    <div class="col-5 d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm me-2 mb-2 {% if current_room.is_closed %}disabled{% endif %}" data-bs-toggle="modal"
                data-bs-target="#addTransactionModal">
            Add transaction
        </button>
    </div>
</div>

{% if parent_transactions %}
    <ul class="list-group list-group-flush mb-3">
        {% for parent_transaction in parent_transactions %}
            <li class="list-group-item pb-4 pt-4"
                style="cursor: pointer"
                hx-trigger="click"
                hx-get="{% room_url 'htmx-transaction-detail' pk=parent_transaction.id %}"
                hx-target="#body"
                hx-swap="innerHTML"
                hx-push-url="true"
            >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        {% autoescape off %}
                            {% parse_user_text parent_transaction.paid_by.name True %}{% endautoescape %}
                        paid
                        <strong>{{ parent_transaction.value }}{{ parent_transaction.currency.sign }}</strong>
                    </h5>
                    <small>{{ parent_transaction.created_at|date:'d.m.Y' }}</small>
                </div>
                <small style="font-style: italic">"{{ parent_transaction.description }}"</small>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<br/>
<br/>
<br/>
