{% extends "core/base.html" %}
{% load static %}

{% block title %}yamsa | {{ room.name }}{% endblock %}

{% block content %}
    {# Hey <username >#}
    {% if request.user.is_authenticated %}
        <small>Hey
            <span class="text-primary-emphasis">{{ request.user.name }}</span>!
        </small>
    {% endif %}

    {# Room name and copy room button #}
    <div class="row align-items-center mt-3">
        <div class="col-9 col-md-5 text-break">
            <h1>{{ room.name }}</h1>
        </div>
        <div class="col-3 col-md-7">
            <button class="btn btn-light btn-sm float-end me-4"
                    onclick="copyShareURL()"
                    data-bs-toggle="tooltip"
                    data-bs-title="Copy the rooms URL to your clipboard to send it to your friends"
                    hx-get="{% url 'htmx-checked-clipboard' %}"
                    hx-swap="morph:innerHTML"
            >
                {% include "shared_partials/clipboard_icon_unchecked.html" %}
            </button>
        </div>
    </div>

    {# Room description #}
    <div class="mb-3">
        <small>{{ room.description }}</small>
    </div>

    {% if request.user.is_authenticated %}
        {# Room Tab-Headers #}
        <ul class="nav nav-tabs nav-fill" id="roomTab" role="tablist">

            <li class="nav-item" role="presentation" style="cursor: pointer">
                <a id="transaction-tab"
                   class="nav-link active"
                   data-bs-toggle="tab"
                   data-bs-target="#transactions"
                   role="tab"
                   aria-controls="transactions"
                   aria-selected="true"
                   hx-trigger="click,load"
                   hx-get="{% url 'htmx-transaction-list' slug=room.slug %}"
                   hx-target="#transactions"
                   hx-swap="morph:innerHTML"
                        {# hx-push-url="true"#}
                >
                    <i class="bi bi-wallet"></i>
                </a>
            </li>

            <li class="nav-item" role="presentation" style="cursor: pointer">
                <a id="debt-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#debts" role="tab"
                   aria-controls="debts" aria-selected="false">
                    <i class="bi bi-piggy-bank"></i>
                </a>
            </li>

            <li class="nav-item" role="presentation" style="cursor: pointer">
                <a id="moneyflow-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#moneyflows" role="tab"
                   aria-controls="moneyflows" aria-selected="false">
                    <i class="bi bi-arrow-left-right"></i>

                </a>
            </li>

            <li class="nav-item" role="presentation" style="cursor: pointer">
                <a id="people-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#people" role="tab"
                   aria-controls="people" aria-selected="false">
                    <i class="bi bi-people"></i>
                </a>
            </li>

        </ul>

        {# Room Tab-Contents #}
        <div class="tab-content" id="tab-content">

            <div class="tab-pane fade show active"
                 id="transactions"
                 role="tabpanel"
                 aria-labelledby="transaction-tab"
                 tabindex="0"
            >
            </div>

            <div class="tab-pane fade" id="debts" role="tabpanel" aria-labelledby="debt-tab" tabindex="1">
                {% include "room/partials/_debt_list.html" %}
            </div>

            <div class="tab-pane fade" id="moneyflows" role="tabpanel" aria-labelledby="moneyflow-tab" tabindex="2">
                {% include "room/partials/_money_flow_qs_accordion.html" %}
            </div>

            <div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="people-tab" tabindex="3">
                {% include "room/partials/_users_of_room_list.html" %}
            </div>

        </div>
    {% else %}
        {% include "room/partials/_detail_who_are_you.html" %}
    {% endif %}

    <script>
      const copyShareURL = () => {
        const url = document.URL
        navigator.clipboard.writeText(url).then(() => {
          // clipboard successfully set
          console.log(`${url} successfully copied to clipboard`)
        }, () => {
          // clipboard write failed
          console.error("Something went wrong here")
        });
      }
    </script>
    <script type="module">
      // TODO CT: Joa keine Ahnung, fix this I guess
      /*
      const triggerTabList = document.querySelectorAll('#roomTab a')

      let currentActiveTab = undefined
      let nextTabToBeActive = undefined

      const getNextIndex = (index, swipeDirection) => {
        if (swipeDirection === "swipeleft") {
          return index + 1 > triggerTabList.length - 1 ? 0 : index + 1
        } else if (swipeDirection === "swiperight") {
          return index - 1 < 0 ? triggerTabList.length - 1 : index - 1
        }
        return index
      }

      $(function () {
        $("#tab-content").on("swipeleft", swipeHandler).on("swiperight", swipeHandler);

        // Callback function references the event target and adds the 'swipe' class to it
        function swipeHandler(event) {
          console.log(event.type)
          console.log("currentActiveTab", currentActiveTab)
          console.log("nextTabToBeActive", nextTabToBeActive)

          triggerTabList.forEach((el, index) => {
            if (el.getAttribute("aria-selected") === "true") {
              currentActiveTab = el

              nextTabToBeActive = triggerTabList[getNextIndex(index, event.type)]

              window.bootstrap.Tab.getOrCreateInstance(nextTabToBeActive).show()
              return false;
            }
          })
        }
      });
       */
    </script>
{% endblock %}
