{% extends "core/base.html" %}

{% block content %}

    <div class="container text-center">
        <div class="row g-1">
            {% for room in rooms %}
                <div class="col-12 col-lg-6" style="cursor: pointer">
                    <div class="p-1">
                        <div class="card"
                             style="background-color: #181618"
                             hx-trigger="click"
                             hx-get="{% url 'room-detail' slug=room.slug %}"
                             hx-target="#body"
                             hx-swap="morph:innerHTML"
                             hx-push-url="true">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text">{{ room.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}