<!-- Add Guest Modal -->
<div class="modal fade" id="addGuestModal" tabindex="-1" aria-labelledby="addGuestModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addGuestModalLabel">Add a guest for {{ room.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form>
                {% csrf_token %}

                <div class="modal-body">

                    <div class="mb-3 form-group">
                        <label for="name">Their name</label>
                        <input id="name" name="name" type="text" class="form-control" required/>
                    </div>

                    <div class="form-group" hidden>
                        <label for="room_slug" class="form-label">Room Slug</label>
                        <input id="room_slug"
                               name="room_slug"
                               type="text"
                               class="form-control"
                               required
                               value="{{ room.slug }}"
                        />
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                            hx-post="{% url 'account-create-guest-user' %}"
                            hx-target="#body"
                            hx-swap="morph:innerHTML"
                    >
                        Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>