{% if debt.settled %}
    <i class="bi bi-piggy-bank-fill debt-list-debt-settled"></i>
{% else %}

    {% if debt.debitor.name == request.user.name %}
        {% if debt.creditor.paypal_me_link %}
            <a class="text-reset"
               href="{{ debt.creditor.paypal_me_link }}/{{ debt.value }}{{ debt.currency.code }}"
               target="_blank"><i class="bi bi-paypal"></i></a>
            &nbsp&nbsp&nbsp
        {% endif %}
        <i class="bi bi-piggy-bank"
           data-bs-toggle="modal"
           data-bs-target="#settleDebtModal{{ debt.id }}"></i>
    {% else %}
        <i class="bi bi-piggy-bank" style="opacity: 25%; cursor:pointer;"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="This transaction is not yours to settle!"></i>
    {% endif %}

    {% include "debt/partials/_settle_debt_modal.html" with debt=debt %}

{% endif %}