{% load room_tags %}

<div id="add-transaction-modal-container"
     hx-trigger="load,reloadTransactionAddModal from:body"
     hx-get="{% url 'htmx-transaction-add-modal' slug=room.slug %}"
     hx-target="#add-transaction-modal-container"
     hx-swap="morph:innerHTML"
>
</div>

<div class="row align-items-center mt-3">
    <div class="col-7">
        <h5>Transactions made</h5>
    </div>
    <div class="col-5 d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-sm me-2 mb-2" data-bs-toggle="modal"
                data-bs-target="#addTransactionModal">
            Add transaction
        </button>
    </div>
</div>

{% if transactions %}
    <ul class="list-group list-group-flush mb-3">
        {% for transaction in transactions %}
            {% if transaction.paid_for_name != transaction.paid_by_name %}
                <li class="list-group-item pb-4 pt-4">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ transaction.value }}{{ transaction.currency_sign }}</h5>
                        <small>{{ transaction.created_at|date:'d.m.Y' }}</small>
                    </div>
                    <p class="mb-1">
                        {% autoescape off %}{% parse_user_text transaction.paid_by_name True %}{% endautoescape %}
                        paid
                        <strong>{{ transaction.value }}{{ transaction.currency_sign }}</strong>
                        for
                        {% autoescape off %}{% parse_user_text transaction.paid_for_name False %}{% endautoescape %}
                    </p>
                    <small style="font-style: italic">"{{ transaction.description }}"</small>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div class="container text-center p-4">
        - No transactions yet -
    </div>
{% endif %}

<br/>
<br/>
<br/>
