<li id="news-{{ news.id }}"
    class="list-group-item {% if not news.globally_visible_news %}pb-2 pt-4{% else %}pb-4{% endif %}">
    <div class="row"
         {% if not news.globally_visible %}hx-trigger="click" hx-target="#news-{{ news.id }}" hx-swap="outerHTML" hx-indicator="#body-loading-spinner" {% if opened %} hx-get="{% url 'news:htmx-closed-news' pk=news.id %}" {% else %} hx-get="{% url 'news:htmx-opened-news' pk=news.id %}" {% endif %}
         {% endif %}>
        <div class="col-1">
            {% if news.globally_visible %}
                ✨
            {% else %}
                {% if opened %}
                    <i class="bi {% if opened %}bi-caret-down{% else %}bi-caret-right{% endif %}"></i>
                {% else %}
                    <i class="bi bi-caret-right {% if news.comments.count %}text-primary-emphasis{% endif %}">
                    </i>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-11">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 {% if news.globally_visible %}text-primary-emphasis{% endif %}">{{ news.title }}</h5>
                    {% if not news.globally_visible %}
                        <small style="font-style: italic">{{ news.created_at|date:'G:i // d.m.Y' }}</small>
                    {% endif %}
                </div>
            <p class="my-2 text-muted">{{ news.message }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            {% if opened %}
                <br />
                <ul class="list-group">
                    {% for comment_object in news.comments.all %}
                        <li class="list-group-item border-opacity-50 pb-2">
                            <small>
                                {{ comment_object.comment }}
                                <div class="fw-lighter">
                                    <div class="row justify-content-between">
                                        <div class="col">{{ comment_object.created_by.name }}</div>
                                        <div class="col d-flex justify-content-end">{{ comment_object.created_at|date:'G:i - d.m.Y' }}</div>
                                    </div>
                                </div>
                            </small>
                        </li>
                    {% endfor %}
                    <li class="list-group-item border-opacity-25">
                        <form id="submit-comment-form">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="visually-hidden" for="comment">
                                        <small>Add a comment</small>
                                    </label>
                                    <div class="input-group input-group-sm">
                                        <input type="text"
                                               class="form-control"
                                               id="comment"
                                               name="comment"
                                               placeholder="Add a comment"
                                               required>
                                        <button class="btn btn-outline-secondary"
                                                id="submit-comment"
                                                type="submit"
                                                hx-post="{% url 'news:htmx-newscomment-create' %}"
                                                hx-target="#news-{{ news.id }}"
                                                hx-swap="outerHTML">
                                            <i class="bi bi-arrow-up-short"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    <label for="news" class="form-label">News ID</label>
                                    <input id="news"
                                           name="news"
                                           type="number"
                                           class="form-control"
                                           required
                                           value="{{ news.id }}" />
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <br />
            {% endif %}
        </div>
    </div>
</li>
{% if news.globally_visible %}
    <li class="list-group-item p-0"></li>
{% endif %}
