<div class="toast-container position-fixed top-0 end-0 p-3 w-75">
    <div class="toast top-0 end-0 border-0"
         id="toast-id"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
    >
        <div id="toast-type-div" class="d-flex align-items-center rounded-3 {{ toast_type }}">
            <div class="toast-body w-100 d-flex justify-content-between">
                <span id="toast-message-span"></span>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                ></button>
            </div>
        </div>
    </div>
</div>

<script type="module">
  var toastElement = document.getElementById('toast-id')
  var toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastElement)

  document.body.addEventListener("triggerToast", (evt) => {
    // Return early, if toast is already shown
    if (toastBootstrap.isShown()) return

    // Add message to toast
    document.getElementById('toast-message-span').innerText = evt.detail.message

    console.debug("Toast Message:", evt.detail.message)

    // Add class to toast
    var splitTypes = evt.detail.type.split(" ")
    splitTypes.map(typeString => document.getElementById('toast-type-div').classList.add(typeString))

    console.debug("Toast Class splitTypes:", splitTypes)

    // Get and show toast element
    toastBootstrap.show()
  })
</script>