{#<button type="button"#}
{#        class="btn btn-primary"#}
{#        hx-trigger="click"#}
{#        hx-get="{% url 'htmx-toast' %}?toast_type=error&toast_message=Henlo"#}
{#        hx-target="#htmx-toast-container"#}
{#        hx-swap="morph:innerHTML"#}
{#>#}
{#    Click me#}
{#</button>#}

{# Use the above button or only its hx-attributes to trigger toasts #}

<div class="toast-container border-0 position-fixed top-0 end-0 p-3 w-75">
    <div id="{{ toast_id }}"
         class="toast top-0 end-0"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
    >
        <div class="d-flex align-items-center {{ toast_type }}">
            <div class="toast-body w-100 d-flex justify-content-between">
                {{ toast_message }}
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                ></button>
            </div>
        </div>
    </div>
</div>

<script type="module">
  const toastLiveExample = document.getElementById('{{ toast_id }}')
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
  toastBootstrap.show()
</script>