{% load room_tags %}
<div class="col">
    <div class="card" style="max-width: 540px;">
        <div class="row g-0">

            <div class="col-3 d-flex align-items-center justify-content-center" style="font-size: 4em">
                <i class="bi bi-file-person"></i>
            </div>

            <div class="col-8">
                <div class="card-body">
                    <p class="card-text">{{ user.name }}</p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            {% if user.is_guest %}
                                Is a guest
                            {% else %}
                                Is a registered user
                            {% endif %}
                        </small>
                    </p>

                    <p class="card-text">
                        <small>
                            {% if user.user_has_seen_this_room %}
                                <i class="bi bi-check-circle"></i> Has seen this room!
                            {% else %}
                                <i class="bi bi-x-circle"></i> Has <strong>not</strong> seen this room
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>

            <div class="col-1 p-2 d-flex justify-content-end">
                <i class="bi bi-x-octagon"
                   hx-post="{% room_url 'account-remove-from-room' pk=user.id %}"
                   hx-include="[name='csrfmiddlewaretoken']"
                   hx-target="#body"
                   hx-indicator="#body-loading-spinner"
                   hx-swap="morph:innerHTML"
                   hx-confirm="{% if user.id == request.user.id %}Are you sure you want to remove yourself from this room? You will not be able to see this room afterwards anymore!{% else %}Are you sure you wish to remove this user from this room?{% endif %}"
                ></i>
            </div>

        </div>
    </div>
</div>
