{% extends "core/base.html" %}

{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center">
            {% if is_in_maintenance %}
                yamsa is in Maintenance
            {% elif called_by_offline_view %}
                You seem to be offline
            {% endif %}
        </h1>

        <hr>

        <h1 class="text-center">🚧 🚧</h1>

        <hr>

        <p class="text-center">Please check back later!</p>
        {% if is_in_maintenance %}
            <p class="text-center text-muted">We are sorry for any inconveniences</p>
        {% elif called_by_offline_view %}
            <p class="text-center text-muted">yamsa needs internet to work</p>
        {% endif %}
    </div>
    {% if called_by_offline_view %}
        <div class="fixed-bottom z-0 d-flex justify-content-center mb-5">
            <button class="btn btn-primary"
                    hx-trigger="click"
                    hx-get="{% url 'core-welcome' %}"
                    hx-target="#body"
                    hx-indicator="#body-loading-spinner"
                    hx-swap="morph:innerHTML"
                    hx-push-url="true">
                Retry for internet
            </button>
        </div>
    {% endif %}
{% endblock %}