{% load static %}
{% load pwa_tags %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block title %}yamsa{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    {% load_pwa_meta_data %}

    {% if not request.user.is_anonymous %}
        {% load_serviceworker %}
    {% endif %}

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous" defer></script>

    <!-- Idomorph for cool HTMX morph swapping -->
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js" defer></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- jQuery Mobile
    TODO CT: Still needed?
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    -->

    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body hx-ext="morph" id="body">

{% include "shared_partials/toast.html" %}

{% if not is_in_maintenance and not called_by_get_user_offline_template_view %}
    {% include "_side_menu.html" %}
{% endif %}

<div class="container-fluid my-5 py-4 px-2">
    {% block content %}
    {% endblock %}
</div>

{% if dashboard_tabs %}
    {% include "room/partials/_dashboard_nav.html" with dashboard_tabs=dashboard_tabs %}
{% endif %}

<!-- Popper CDN -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

<!-- Bootstrap CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>

<script type="text/javascript">
  // Enable all Tooltips
  var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

  // Enable Toasts
  var toastElList = document.querySelectorAll('.toast')
  var toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl))
</script>
</body>
</html>



