{% load static %}

<!-- Modal -->
<div class="modal fade" id="settleDebtModal{{ debt.id }}" tabindex="-1"
     aria-labelledby="addTransactionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTransactionModalLabel">
                    Your debt to {{ debt.creditor.username }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form hx-post="{% url 'debt-settle' pk=debt.id %}" hx-swap="none">
                {% csrf_token %}

                <div class="modal-body">

                    Are you sure that you have settled your debt ({{ debt.value }}{{ debt.currency.sign }})
                    to {{ debt.creditor.username }}?

                    <div class="form-group" hidden>
                        <label for="debt_id">Debt ID</label>
                        <input id="debt_id"
                               type="number"
                               name="debt_id"
                               class="form-control"
                               required
                               value={{ debt.id }}
                        />
                    </div>

                    <div class="form-group" hidden>
                        <label for="settled" class="form-label">Settled?</label>
                        <input id="settled"
                               name="settled"
                               type="checkbox"
                               checked
                               class="form-control"
                               required
                        />
                    </div>

                </div>

                <div class="modal-footer">
                    {% if debt.creditor.paypal_me_username %}
                        <a href="https://www.paypal.com/paypalme/{{ debt.creditor.paypal_me_username }}/{{ debt.value }}{{ debt.currency.code }}"
                           target="_blank">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                No, take me to their paypal
                            </button>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>