name: Django-Tests CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ "3.13.4" ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install uv runtime tooling
        run: python -m pip install --upgrade pip uv

      - name: Sync dependencies
        run: uv sync --all-extras --no-install-project

      - name: Run Tests
        run: |-
          uv run python manage.py collectstatic --no-input
          uv run coverage run -m pytest -v3
        env:
          DJANGO_SECRET_KEY: "an-asd8a9e72399eruQASd-insecure-asd7e38a549d8asdad)))-secretkey"

      - name: Generate coverage XML
        run: |-
          mkdir -p test-reports
          uv run coverage xml -o ./test-reports/python-coverage.xml

      - name: Upload python-coverage.xml
        uses: actions/upload-artifact@v4
        with:
          name: python-coverage
          path: test-reports/python-coverage.xml

  coverage:
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Download python-coverage.xml
        uses: actions/download-artifact@v4
        with:
          name: python-coverage
          path: artifacts

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: artifacts/python-coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '75 85'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request' && ${{ always() }}
        with:
          hide_and_recreate: true
          hide_classify: "OUTDATED"
          path: code-coverage-results.md
